<h1>Produtos Disponíveis</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Nome</label>
    <input type="text" formControlName="nome"/>
    <br>
    <label>Valor</label>
    <input type="number" formControlName="valor"/>
    <button type="submit" [disabled]="!form.valid" *ngIf="!edit">Criar</button>
    <button type="submit" [disabled]="!form.valid" *ngIf="edit">Salvar</button>
</form>
<table>
    <tr>
        <th>Nome</th>
        <th>Valor</th>
    </tr>
    <tr *ngFor="let produto of produtos">
        <td>{{produto.nome}}</td>
        <td>{{produto.valor}}</td>
        <td>
            <button (click)="addToCart(produto)">Adicionar Carrinho</button>
            <button (click)="onEdit(produto)">Editar</button>
            <button (click)="onRemove(produto)">Remover</button>
        </td>
    </tr>
</table>